<h1>My Favorite Patterns</h1>
<%= link_to 'Back', '/knitcircle' %>
<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Created By</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= link_to image_tag(favorite.artifact.thumbnail), favorite.artifact %></td>
        <td><%= favorite.artifact.uname %></td>
        <td><button class="favRemove">Remove from Favorites</button><button class="favPrint">Print Pattern</button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>My Published Artifacts</h1>

<table>
  <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Created By</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to image_tag(artifact.thumbnail), artifact %></td>
        <td><%= artifact.uname %></td>
        <td><button class="favDelete">Delete</button><button class="favPrint">Print Pattern</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

