<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.radio_button( :age, "0") %>Under 10  |
    <%= f.radio_button( :age, "1") %>10-13  |
    <%= f.radio_button( :age, "2") %>14-18  |
    <%= f.radio_button( :age, "3") %>Over 18  
    <br>
</div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.radio_button( :gender, "f") %>Female  |
    <%= f.radio_button( :gender, "m") %>Male
    <br> 
</div>
  <div class="field">
    <%= f.label :currentLevel %><br>
    <%= f.text_field :currentLevel %>
  </div>
  <div class="field">
    <%= f.label :lastLogin %><br>
    <%= f.text_field :lastLogin %>
  </div>
  <div class="field">
    <%= f.label :locked %><br>
    <%= f.text_field :locked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
