<h1>New User</h1>

    <%= form_for(@user) do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
<br/>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
<br/>
      <%= f.label :age %><br>
      <%= f.radio_button( :age, "0") %>Under 10  |
      <%= f.radio_button( :age, "1") %>10-13  |
      <%= f.radio_button( :age, "2") %>14-18  |
      <%= f.radio_button( :age, "3") %>Over 18

<br/>
      <%= f.label :gender %><br>
      <%= f.radio_button( :gender, "f") %>Female  |
      <%= f.radio_button( :gender, "m") %>Male

<br/>
      <%= f.label :email %>
      <%= f.email_field :email %>
<br/>
      <%= f.label :password %>
      <%= f.password_field :password %>
<br/>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
<br/>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
<%= link_to 'Back', users_path %>
