<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Currentlevel:</strong>
  <%= @user.currentLevel %>
</p>

<p>
  <strong>Lastlogin:</strong>
  <%= @user.lastLogin %>
</p>

<p>
  <strong>Locked:</strong>
  <%= @user.locked %>
</p>
  <div class="solutions">
    <% if @user.solutions.any? %>
      <h3>Solutions (<%= @user.solutions.count %>)</h3>
      <ol class="microposts">
        <%= render @solutions %>
      </ol>
    <% end %>
  </div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
