<li id="solution-<%= solution.id %>">
  <span class="user"><%= link_to solution.user.first_name, solution.user %></span>
  <span class="level"><%= solution.level %></span> 
  <span class="content"><%= solution.content %></span> 
  <span class="timestamp">
    Posted <%= time_ago_in_words(solution.created_at) %> ago.
  </span>
</li>
